<br />

<div>
<%= image_tag @profile.avatar.url(:thumb) %>
</div>

<div>
  <%= @profile.user.fname %>
</div>

<div>
  <%= @profile.shop_name %><br />
  <%= @profile.address %><br />
  <%= @profile.state %><br />
  <%= @profile.city %><br />
  <%= @profile.zip %><br />
  <%= @profile.phone %>
</div>

<div>
<br />


<% if !current_user.barber %>
<b>Leave me a review!</b>
<%= render 'review_form' %>
<% end %>
</div>

<div>
<b>What people are saying.</b>
<br />
<%= render 'review' %>
<hr/>
</div>


